@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-mail:before {
  content: "\e900";
  color: #798285;
}

._icon-phone:before {
  content: "\e901";
  color: #798285;
}

._icon-spisok:before {
  content: "\e902";
  color: #e8b54d;
}

._icon-address:before {
  content: "\e903";
  color: #798285;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #121212;
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 400;
  line-height: 116.66667%;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.logo {
  font-size: 29px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}

.logo span {
  color: #e8b54d;
}

.logo + span {
  display: inline-block;
  margin-top: 27px;
}

.logo--footer {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.logo--main {
  font-size: 80px;
  font-weight: 700;
}

.main-title {
  color: #000;
  font-weight: 600;
  font-size: 37px;
  line-height: 100%;
}

.main-title.logo {
  margin-bottom: 8px;
}

.quote {
  color: #000;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote:not(:first-child) {
  margin-top: 10px;
}

.quote:not(:last-child) {
  margin-bottom: 10px;
}

.quote span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 10px;
  margin-right: 50px;
}

.footer-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: relative;
  z-index: 50;
  background-color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 140px;
}

.menu__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 910px;
          flex: 0 1 910px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list li {
  position: relative;
  z-index: 4;
}

.nav__list li._active {
  background-color: #e8b54d;
  pointer-events: none;
  cursor: default;
  font-weight: 700;
  color: #fff;
}

.nav__list li._show {
  z-index: 5;
  text-shadow: 0px 0px 1px #fff;
  background-color: #e8b54d;
  color: #fff;
}

.nav__list li._show .icon-submenu span {
  background-color: #fff;
}

.nav__list li._show .nav__submenu-list {
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.nav__list._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  right: 0;
}

.nav__link {
  position: relative;
  z-index: 3;
  color: inherit;
}

.nav__submenu-link {
  color: #fff;
}

.icon-submenu {
  position: relative;
  z-index: 5;
  width: 30px;
  height: 17px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon-submenu::before {
  content: "";
  position: absolute;
  z-index: 6;
  top: 0;
  width: 100%;
  height: 100%;
}

.icon-submenu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 33.333%;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #e8b54d;
}

.icon-submenu span:first-child {
  top: 0px;
}

.icon-submenu span:nth-child(3) {
  top: 66.6666%;
}

.icon-submenu span:last-child {
  top: calc(100% - 1px);
}

.icon-submenu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-submenu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.icon-submenu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.icon-menu {
  display: none;
}

.footer {
  color: #fff;
  background-color: #3a4245;
  padding-top: 47px;
  padding-bottom: 68px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-nav__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 240px;
          flex: 1 0 240px;
  padding-right: 10px;
}

.footer-nav__title {
  margin-bottom: 27px;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav__list li {
  margin-bottom: 20px;
}

.footer-nav__list li:last-child {
  margin-bottom: 0;
}

.footer-nav__link {
  color: #d2d5de;
}

.footer-nav__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contacts a {
  color: inherit;
}

.contacts__title {
  margin-bottom: 27px;
}

.contacts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 35px;
}

.contacts__item a {
  font-weight: 600;
  font-size: 20px;
  line-height: 143%;
  letter-spacing: 0.04em;
}

.contacts__item:not(:last-child) {
  margin-bottom: 27px;
}

.contacts__item._icon-phone::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 22px;
  position: absolute;
  top: 3px;
  left: 0;
}

.contacts__item._icon-mail::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 0;
}

.contacts__item._icon-address::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 22px;
  position: absolute;
  top: 3px;
  left: 0;
}

.about {
  background: -o-linear-gradient(180.99deg, #f7f9fa 19.53%, rgba(255, 255, 255, 0) 99.5%);
  background: linear-gradient(269.01deg, #f7f9fa 19.53%, rgba(255, 255, 255, 0) 99.5%);
}

.header-about {
  padding-top: 84px;
  padding-bottom: 86px;
  position: relative;
}

._no-webp .header-about::before{
  background-image: url("../img/home/about/about-bg.png"); }

.header-about::before {
  content: "";
  position: absolute;
  left: -19%;
  bottom: -2%;
  z-index: 2;
  width: 100%;
  max-height: 560px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56.25%;
          flex: 0 0 56.25%;
}

.header-about__title {
  position: relative;
  margin-bottom: 38px;
}

.header-about__title * {
  position: relative;
  z-index: 2;
}

.header-about__text {
  position: relative;
  z-index: 5;
  line-height: 182%;
}

.section {
  padding-bottom: 120px;
}

.section__header:not(:last-child) {
  margin-bottom: 100px;
}

.section__main:not(:last-child) {
  margin-bottom: 100px;
}

.section__footer:not(:last-child) {
  margin-bottom: 100px;
}

.article__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__block-img:not(:last-child) {
  margin-bottom: 46px;
}

.article__block-img:not(:first-child) {
  margin-top: 46px;
}

.article__text {
  line-height: 182%;
}

.article__text + .article__text {
  margin-top: 46px;
}

.article__text p span {
  font-weight: 600;
}

.article__text p + p {
  margin-top: 30px;
}

.article__title {
  margin-bottom: 30px;
}

.services__content {
  width: 100%;
}

.services__title {
  text-align: center;
  margin-bottom: 59px;
}

.services__slider {
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  width: 100%;
  min-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider__slide {
  position: relative;
  overflow: hidden;
  border-radius: 13px;
  padding-bottom: 30%;
}

.slider__content {
  position: absolute;
  padding: 10px;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__header {
  color: #ffffff;
  opacity: 0.43;
  font-weight: bold;
  font-size: 36px;
  line-height: 120.5%;
  text-transform: uppercase;
}

.slider__footer {
  padding: 0 25px;
  font-weight: 600;
  font-size: 30px;
  line-height: 105.5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.73);
  border-radius: 13px;
  color: #4A4A4A;
}

.swiper-button-prev,
.swiper-button-next {
  background-image: url(../img/home/slider/Polygon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  color: transparent;
}

.swiper-button-next {
  right: -50px;
}

.swiper-button-prev {
  left: -50px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 768.98px) {
  .nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }

  .nav__list li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    font-weight: 500;
  }

  .nav__list._show .nav__submenu-list {
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: auto;
  }

  .nav__link {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav__submenu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    position: absolute;
    min-width: 455px;
    top: 0;
    left: 0;
    padding: 43px 0 10px;
    background-color: #e8b54d;
    visibility: hidden;
  }

  .nav__submenu-list._show {
    display: block;
  }

  .nav__submenu-list li {
    font-weight: 400;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .icon-submenu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 24px;
  }

  .icon-submenu + .nav__link {
    padding: 12px 24px 12px 12px;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 992.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .footer__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.74194%;
            flex: 0 0 17.74194%;
  }

  .footer__nav {
    max-width: 650px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19.35484%;
            flex: 0 0 19.35484%;
  }

  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-nav__right .footer-nav__title {
    padding-left: 32px;
  }

  .footer-nav__right ul {
    padding-left: 32px;
    border-left: 1px solid #575d5f;
  }

  .header-about__title::before {
    content: "Twolions";
    position: absolute;
    z-index: 1;
    top: 0;
    left: -40%;
    -webkit-transform: translateY(-35%);
        -ms-transform: translateY(-35%);
            transform: translateY(-35%);
    font-weight: bold;
    font-size: 224px;
    line-height: 100%;
    color: rgba(222, 236, 245, 0.31);
  }

  .article__block-img {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .article__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45.16129%;
            flex: 1 0 45.16129%;
    padding-bottom: 31%;
    border: 1px solid #dddddd;
    overflow: hidden;
  }

  .article__img:not(:last-child) {
    margin-right: 46px;
    border-radius: 7px 95px 7px 7px;
  }

  .article__img:last-child {
    margin-left: 46px;
    border-radius: 95px 7px 7px 7px;
  }

  .slider__header {
    font-size: 24px;
  }
}

@media (min-width: 1292px) {
  .slider__footer {
    font-size: 20px;
    height: 150px;
  }
}

@media (max-width: 1366px) {
  .services__slider {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 1292px) {
  .header-about::before {
    opacity: 0.7;
    left: -24%;
  }

  .header-about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64.0625%;
            flex: 0 0 64.0625%;
  }

  .slider__footer {
    font-size: 20px;
    height: 100px;
  }
}

@media (max-width: 1280px) {
  .logo + span {
    margin-top: calc(15px + 12 * ((100vw - 320px) / 960));
  }

  .logo--main {
    font-size: calc(30px + 50 * ((100vw - 320px) / 960));
  }

  .main-title {
    font-size: calc(18px + 19 * ((100vw - 320px) / 960));
  }

  .footer {
    padding-top: calc(30px + 17 * ((100vw - 320px) / 960));
  }

  .footer {
    padding-bottom: calc(30px + 38 * ((100vw - 320px) / 960));
  }

  .footer-nav__title {
    margin-bottom: calc(15px + 12 * ((100vw - 320px) / 960));
  }

  .footer-nav__list li {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 960));
  }

  .contacts__title {
    margin-bottom: calc(15px + 12 * ((100vw - 320px) / 960));
  }

  .contacts__item:not(:last-child) {
    margin-bottom: calc(15px + 12 * ((100vw - 320px) / 960));
  }

  .header-about {
    padding-top: calc(50px + 34 * ((100vw - 320px) / 960));
  }

  .header-about {
    padding-bottom: calc(50px + 36 * ((100vw - 320px) / 960));
  }

  .header-about__title {
    margin-bottom: calc(15px + 23 * ((100vw - 320px) / 960));
  }

  .section {
    padding-bottom: calc(55px + 65 * ((100vw - 320px) / 960));
  }

  .section__header:not(:last-child) {
    margin-bottom: calc(25px + 75 * ((100vw - 320px) / 960));
  }

  .section__main:not(:last-child) {
    margin-bottom: calc(25px + 75 * ((100vw - 320px) / 960));
  }

  .section__footer:not(:last-child) {
    margin-bottom: calc(25px + 75 * ((100vw - 320px) / 960));
  }

  .article__block-img:not(:last-child) {
    margin-bottom: calc(25px + 21 * ((100vw - 320px) / 960));
  }

  .article__block-img:not(:first-child) {
    margin-top: calc(25px + 21 * ((100vw - 320px) / 960));
  }

  .article__text + .article__text {
    margin-top: calc(25px + 21 * ((100vw - 320px) / 960));
  }

  .article__text p + p {
    margin-top: calc(10px + 20 * ((100vw - 320px) / 960));
  }

  .article__title {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 960));
  }

  .services__title {
    margin-bottom: calc(25px + 34 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 992.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin-bottom: 50px;
  }

  .footer__nav {
    margin-bottom: 50px;
  }

  .footer__contacts {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .footer-nav__left {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin-bottom: 50px;
  }

  .contacts__item._icon-phone::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .contacts__item._icon-mail::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .contacts__item._icon-address::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header-about::before {
    opacity: 0.7;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .header-about__content {
    padding-top: 18%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .article__block-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider__slide {
    padding-bottom: 40%;
  }

  .slider__header {
    font-size: 16px;
  }

  .slider__footer {
    font-size: 14px;
    height: 70px;
  }
}

@media (max-width: 992.98px) and (max-width: 1280px) {
  .footer__logo {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 960));
  }

  .footer__nav {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 960));
  }

  .footer-nav__left {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 768.98px) {
  body {
    font-size: 12px;
    line-height: 1.3;
  }

  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 42px;
  }

  .header__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .nav__list {
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 42px;
    -webkit-transition: opacity 0.5s ease, right 0.5s ease;
    -o-transition: opacity 0.5s ease, right 0.5s ease;
    transition: opacity 0.5s ease, right 0.5s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .nav__list::before {
    content: "";
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 42px;
    background-color: #fff;
  }

  .nav__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav__list li._show .nav__submenu-list {
    max-height: 100%;
  }

  .nav__link {
    color: #fff;
    padding: 12px 16px;
  }

  .nav__submenu-list {
    width: 100%;
  }

  .nav__submenu-link {
    padding: 12px 16px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    background-color: #e8b54d;
  }

  .icon-submenu {
    display: inline-block;
    margin-right: 15px;
  }

  .icon-menu {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 8px;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .article__img {
    padding-bottom: 30%;
    margin: 10px 10%;
  }

  .slider__slide {
    min-height: 240px;
  }
}

@media (min-width: 768.98px) and (max-width: 1280px) {
  .nav__link {
    padding-left: calc(1px + 23 * ((100vw - 320px) / 960));
  }

  .nav__link {
    padding-right: calc(1px + 23 * ((100vw - 320px) / 960));
  }

  .nav__submenu-list li {
    padding-left: calc(1px + 38 * ((100vw - 320px) / 960));
  }

  .nav__submenu-list li {
    padding-right: calc(1px + 38 * ((100vw - 320px) / 960));
  }

  .icon-submenu {
    margin-left: calc(1px + 23 * ((100vw - 320px) / 960));
  }
}

@media (min-width: 992.98px) and (max-width: 1280px) {
  .header-about__title::before {
    font-size: calc(50px + 174 * ((100vw - 320px) / 960));
  }

  .article__img:not(:last-child) {
    margin-right: calc(1px + 45 * ((100vw - 320px) / 960));
  }

  .article__img:last-child {
    margin-left: calc(1px + 45 * ((100vw - 320px) / 960));
  }
}

@media (min-width: 768.98px) and (max-width: 992.98px) {
  .article__img {
    padding-bottom: 30%;
  }

  .article__img:not(:last-child) {
    margin-right: 40%;
  }

  .article__img:last-child {
    margin-left: 40%;
  }
}

@media (any-hover: hover) {
  .nav__list li:hover {
    text-shadow: 0px 0px 1px #fff;
    background-color: #e8b54d;
    color: #fff;
  }

  .nav__list li:hover .icon-submenu span {
    background-color: #fff;
  }

  .nav__submenu-list li:hover {
    font-weight: 700;
    background-color: #d79e49;
    color: #fff;
  }

  .footer__body a {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .footer__body a:hover {
    color: #e8b54d;
  }

  .contacts__item a:hover,
  .contacts__item p:hover {
    color: #e8b54d;
  }

  .contacts__item:hover::before {
    color: #e8b54d;
  }
}

._webp .header-about::before{ background-image: url(../img/home/about/about-bg.webp); }