body {
  margin: 0;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

h1, h2, h3 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  padding: 90px 0 30px 0;
}

.page__section {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.page__section-1 {
  background-color: #794f45;
}

.page__title {
  margin: 0 0 20px;
  font-size: 40px;
}

.page__text {
  font-size: 16px;
}

.page__section-2 {
  background-color: #776f45;
}

.page__sub-title {
  margin: 0 0 20px;
  font-size: 30px;
}

.page__section-3 {
  background-color: #7a9565;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #912315;
}

.header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.header__logo {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}

.menu__link {
  color: #fff;
  font-size: 18px;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list > li {
  position: relative;
  margin: 0 0 10px;
}

.menu__sub-list > li:last-child {
  margin: 0;
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    opacity: 0;
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    visibility: hidden;
  }
}
