@mixin font($fname, $fstyle, $fweight, $woff-url, $woff2-url, $ttf-url) {
   @font-face {
      font-family: $fname;
      font-style: $fstyle;
      font-weight: $fweight;
      src: url($woff2-url) format("woff2"), url($woff-url) format("woff"), url($ttf-url) format("truetype");
   }
}

// Подключаем ================================

//@include font("$fname", normal, $fweight, "../fonts/.woff", "../fonts/.woff2", "../fonts/.ttf");

//Montserrat bold italic medium semibold regular light, open sans
// font-family: 'Montserrat', sans-serif;