html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	color: #002a2b;
	font-size: 16px;
	@media (max-width: 768px) {
		font-size: 13px;
	}
}
body._lock {
	overflow: hidden;
}

.wrap {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	background: repeating-linear-gradient(
		135deg,
		rgba(180, 180, 180, 0.07) 0,
		rgba(218, 217, 217, 0.25) 25%,
		rgba(218, 217, 217, 0.2) 20%
	);
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
