.application {
   padding: 40px 0 0;
}
.application__title {
   margin-bottom: 50px;
   text-align: center;
   @media (max-width: 768px) {
      margin-bottom: 40px;
   }
}
.application__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   @media (min-width: 768px) {
      margin-right: -60px;
   }
   @media (min-width: 500px) {
      margin-right: -25px;
   }
}
.application__card {
   flex: 0 1 28%;
   margin-right: 60px;
   margin-bottom: 45px;
   position: relative;
   @media (max-width: 768px) {
      flex: 0 1 38%;
      margin-right: 25px;
      margin-bottom: 15px;
   }
   @media (max-width: 500px) {
      margin-right: 0px;
      flex: 0 1 80%;
   }
}
.application__text {
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   transform: translateY(-50%);
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
   font-size: 24px;
   color: white;
   @media (max-width: 768px) {
      font-size: 16px;
   }
}
.application__img {
   width: 100%;
}
