.header {
   height: 36px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 5;
   background-color: #002a2b;
   @media (max-width: 768px) {
      height: 45px;
   }
}
.header__container {
   height: 100%;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   padding: 0 23px 0 26px;
   @media (max-width: 768px) {
      padding: 0;
   }
}
.header__tel {
   position: relative;
   z-index: 5;
   color: white;
   font-size: 22px;
   font-weight: 600;
   @media (max-width: 1200px) {
      margin-left: auto;
      margin-right: 10px;
   }
   @media (max-width: 768px) {
      font-size: 16px;
   }
   @media (max-width: 500px) {
      font-size: 13px;
   }
}
.header__social {
   position: relative;
   z-index: 5;
   display: flex;
   align-items: center;
   a {
      margin-right: 18px;
      @media (max-width: 768px) {
         margin-right: 9px;
      }
      svg {
         width: 20px;
         height: 20px;
      }
   }
}
.nav {
   display: flex;
   align-items: center;

   font-size: 18px;
   font-weight: 400;

}
.nav__list {
   display: flex;
   @media (max-width: 1200px) {
      display: block;
      z-index: 3;
      position: fixed;
      top: 0;
      right: -100%;
      max-width: 100%;
      width: 100%;
      height: 100%;
      padding-top: 50px;
      padding-left: 30px;
      opacity: 0;
      background-color: rgba($color: #000000, $alpha: 0.8);
      transition: opacity 0.4s, right 0.8s ease;
      overflow: auto;
      .nav__item {
         font-weight: 600;
         font-size: 28px;
         margin-bottom: 10px;
      }
   }
}
.nav__list._active {
   right: 0;
   opacity: 1;
   &::before {
      content: "";
      z-index: 6;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 45px;
      background-color: #002a2b;
   }
}
.nav-icon {
   display: none;
   span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
   }
   @media (max-width: 1200px) {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
      &::before,
      &::after,
      span {
         left: 0;
         position: absolute;
         height: 10%;
         width: 100%;
         background-color: rgb(255, 255, 255);
         transition: all 0.3s ease;
      }
      &::before,
      &::after {
         content: "";
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
   }
}
.nav-icon._active {
   &::after {
      top: 45%;
      transform: rotate(45deg);
   }
   &::before {
      top: 45%;
      transform: rotate(-45deg);
   }
   span {
      transform: scale(0);
   }
}
.nav__item {
   margin-right: 27px;
   &:last-child {
      margin-right: 0;
   }
}
.nav__link {
   cursor: pointer;
   white-space: nowrap;
   color: #bfcaca;
}
