@font-face {
   font-family: "Gilroy";
   src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
      url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: "Gilroy";
   src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"),
      url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Gilroy";
   src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"),
      url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body{
   font-family: "Gilroy";
   font-weight: 400;
}

*,*::before,*::after{
   box-sizing: border-box;
}

button{
   color: inherit;
   white-space: nowrap;
   border: none;
}
a{
   text-decoration: none;
   color: inherit;
}
picture{
   height: 100%;
   display: block;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   position: relative;
   z-index: 10;
}
.container{
   max-width: 1240px;
   width: 100%;
   padding: 0 10px;
   margin: 0 auto;
}

@import '_header.scss';
@import '_first-screen.scss';
@import '_catalog.scss';